<div class="parallax" style=" background-image: url('http://drive.google.com/uc?export=view&id=1drlt52b_EN6A99PvqIMmYC2-_y016JM0');">
<h1 style="text-shadow: 2px 2px 2px black;">Ayuda Psicológica Gratuita en México</h1>
<p style="font-size: large; color:white; text-shadow: 2px 2px 2px black;" >Lineas de Emergencia en México</p>
</div>
  <div class="row" style="margin-left: 5em; margin-right: 5em; margin-bottom:2em;">
      <!--Etiqueta-->
    <div class="col-md-4" style="padding-top: 60px; text-align: center;" >
      <div class="card" style="width: 18rem; ">
        <img class="card-img-top card-img-top-1 imgRedonda"   src="http://drive.google.com/uc?export=view&id=1-pltiT7nA-bD8Sa13LlHOiMFMDjVGpaH" alt="Card image cap">
        <div class="card-body card-body-1" style="background: white;">
          <h5 class="card-title">Consejería SAPTEL</h5>
          <p class="card-text card-text-1" style="text-align: justify;">El Sistema Nacional de Apoyo, Consejo Psicológico e
            Intervención en Crisis por Teléfono, ofrece un servicio de
            terapia psicológica gratuita facilitada por psicólogos certificados.
          </p>
        </div>
        <div style="background-color: white;">
          <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#SAPTEL">
                Más información
          </button>
        </div>
      </div>
    </div>
    <!--Etiqueta-->
    <div class="col-md-4" style="padding-top: 60px; text-align: center;" >
      <div class="card" style="width: 18rem; ">
        <img class="card-img-top card-img-top-1 imgRedonda"   src="http://drive.google.com/uc?export=view&id=1cHUiXa7wpxYB_96sCgb9dt4XoCzg2bAc" alt="Card image cap">
        <div class="card-body card-body-1" style="background: white;">
          <h5 class="card-title">Call Center UNAM</h5>
          <p class="card-text card-text-1" style="text-align: justify;">El Call Center de la Universidad Nacional Autónoma de 
            México a través de su programa de Atención Psicológica a Distancia brinda consulta psicológica gratuita
            y continua al público en general.


          </p>
        </div>
        <div style="background-color: white;">
          <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#UNAM">
                Más información
          </button>
        </div>
      </div>
    </div>
      <!--Etiqueta-->
      <div class="col-md-4" style="padding-top: 60px; text-align: center;" >
        <div class="card" style="width: 18rem; ">
          <img class="card-img-top card-img-top-1 imgRedonda"   src="http://drive.google.com/uc?export=view&id=1ZUHy2OwIEoiaSHX1b_TVvjsfy0-Nt3g1" alt="Card image cap">
          <div class="card-body card-body-1" style="background: white;">
            <h5 class="card-title">Línea de Ayuda LOCATEL</h5>
            <p class="card-text card-text-1" style="text-align: justify;">Ofrece atención psicológica gratuita por teléfono, 
              apoyo en contingencias y casos de desastres. El sistema de “Chat psicológico” brinda orientación, 
              consejería y apoyo emocional.
            </p>
          </div>
        <div style="background-color: white;">
          <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#Locatel">
                Más información
            </button>
        </div>
        </div>
      </div>
        <!--Etiqueta-->
      <div class="col-md-4" style="padding-top: 60px; text-align: center;" >
        <div class="card" style="width: 18rem; ">
          <img class="card-img-top card-img-top-1 imgRedonda"   src="http://drive.google.com/uc?export=view&id=1qOoPW8Ic0PT7TiSJFUMykjUiCTSif5PW" alt="Card image cap">
          <div class="card-body card-body-1" style="background: white;">
            <h5 class="card-title">Consejo Ciudadano</h5>
            <p class="card-text card-text-1" style="text-align: justify;">El Consejo Ciudadano para la Seguridad y Justicia, 
              brinda asesoría jurídica y atención psicológica gratuita por Teléfono y WhatsApp al público en general.
            </p>
          </div>
        <div style="background-color: white;">
          <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#Ciudadano">
                Más información
            </button>
        </div>
        </div>
      </div>
        <!--Etiqueta-->
      <div class="col-md-4" style="padding-top: 60px; text-align: center;" >
        <div class="card" style="width: 18rem; ">
          <img class="card-img-top card-img-top-1 imgRedonda"   src="http://drive.google.com/uc?export=view&id=1GQggJWBGpiV3ShNzAUSBX_jq9du-s-0m" alt="Card image cap">
          <div class="card-body card-body-1" style="background: white;">
            <h5 class="card-title">Fundación Origen</h5>
            <p class="card-text card-text-1" style="text-align: justify;">ONG enfocada en el apoyo social a personas en situación 
              de exclusión o desamparo, la “Línea de Ayuda Origen” ofrece asistencia psicológica gratuita vía telefónica.
            </p>
          </div>
        <div style="background-color: white;">
          <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#Origen">
                Más información
            </button>
        </div>
        </div>
      </div>
       <div class="col-md-4" style="padding-top: 60px; text-align: center;" >
        <div class="card" style="width: 18rem; ">
          <img class="card-img-top card-img-top-1 imgRedonda"   src="http://drive.google.com/uc?export=view&id=1wkRaZbvoN8j8lOuBacfUhgUxRKpMseko" alt="Card image cap">
          <div class="card-body card-body-1" style="background: white;">
            <h5 class="card-title">CONAVIM</h5>
            <p class="card-text card-text-1" style="text-align: justify;">La Comisión Nacional para prevenir la Violencia
               contra las Mujeres brinda orientación legal y terapia psicológica gratuita, continua y confidencial.</p>
          </div>
        <div style="background-color: white;">
          <button type="button" class="btn btn-primary btn" data-toggle="modal" data-target="#CONAVIM">
                Más información
            </button>
        </div>
        </div>
      </div>
  </div>
  
<!-- Modal -->
<div class="modal fade" id="SAPTEL" tabindex="-1" role="dialog" aria-labelledby="SAPTELLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SAPTELLabel">Información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
       <p> <b>TEL:</b> 555 259 8121 <br>
        <b>TEL: </b> 800 472 7835</p>
        <b>Horario: </b> 24 hrs. los 365 días<br>
        <b>Sede:</b> Ciudad de México<br>
        <b>Web: </b><a href="http://www.saptel.org.mx/">SAPTEL</a><br>
        <b>Twitter:</b> <a href="https://twitter.com/saptelcrlyc?lang=es">@saptelcrlyc</a> <br>
        <b>Facebook: </b> <a href="https://www.facebook.com/SAPTEL">@SAPTEL</a> <br>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="UNAM" tabindex="-1" role="dialog" aria-labelledby="UNAMLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="UNAMLabel">Información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
       <p> <b>TEL: </b> 555 025 0855 <br>
        <b>Horario: </b> 08:00 a 18:00 hrs (Lunes a Viernes)<br>
        <b>Sede: </b> Ciudad de México<br>
        <b>Web: </b><a href="https://www.fundacionunam.org.mx/unam-al-dia/si-requieres-atencion-psicologica-acercate-a-la-unam/">CallCenterUNAM</a><br>
        <b>Facebook: </b> <a href= " https://www.facebook.com/unam.psicologia/posts/268637503701695/">fb.CallCenterUNAM</a><br>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Locatel" tabindex="-1" role="dialog" aria-labelledby="LocatelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="LocatelLabel">Información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
       <p> 
        <b>TEL: </b> 555 658 1111 <br>
        <b>Chat: </b><a href=" http://locatel.cdmx.gob.mx/">Locatel Chat</a><br>
        <b>Horario: </b> 24 hrs. los 365 días<br>
        <b>Sede: </b> Ciudad de México<br>
        <b>Web: </b><a href="http://locatel.cdmx.gob.mx/">locatel.cdmx.gob.mx</a><br>
        <b>E-mail: </b>redes_sociales@locatel.df.gob.mx<br>
        <b>Twiter: </b><a href="https://twitter.com/locatel_mx">@locatel_mx/a><br>
        <b>Facebook: </b><a href="https://es-la.facebook.com/locatelmx">@locatelmx</a><br>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="Ciudadano" tabindex="-1" role="dialog" aria-labelledby="CiudadanoLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CiudadanoLabel">Información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <b>TEL:</b> 555 533 5533 <br>
        <b>Horario: </b> 24 hrs. los 365 días<br>
        <b>Sede:</b> Ciudad de México<br>
        <b>Web: </b><a href="http://www.consejociudadanomx.org">consejociudadanomx.org</a><br>
        <b>E-mail: </b><a >contacto@consejociudadanomx.org</a><br>
        <b>Twitter:</b> <a href="https://twitter.com/elconsejomx">@elconsejomx</a> <br>
        <b>Facebook: </b> <a href="https://www.facebook.com/ConsejoCiudadanoMx/">@ConsejoCiudadanoMx</a> <br>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Origen" tabindex="-1" role="dialog" aria-labelledby="OrigenLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="OrigenLabel">Información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <b>TEL:</b> 800 015 1617 <br>
        <b>Horario: </b> 08:00 a 22:00 hrs (Lunes a Domingo)<br>
        <b>Sede:</b> Ciudad de México<br>
        <b>Web: </b><a href="https://www.origenac.org/index.php/programas/linea-de-ayuda-origen/">ww.origenac.org</a><br>
        <b>E-mail: </b><a >lineadeayudaorigen@origenac.org</a><br>
        <b>Instagram:</b> <a href="https://www.instagram.com/fundacionorigen/">@fundacionorigen</a> <br>
        <b>Facebook: </b> <a href="https://www.facebook.com/fundacionorigen/">@fundacionorigen</a> <br>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="CONAVIM" tabindex="-1" role="dialog" aria-labelledby="CONAVIMLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CONAVIMLabel">Información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">
        <b>TEL:</b> 555 209 8907<br>
        <b>TEL:</b>555 209 8902 <br>
        <b>Horario: </b>24 hrs. los 365 días<br>
        <b>Sede:</b> Ciudad de México<br>
        <b>Web: </b><a href="https://www.gob.mx/conavim/acciones-y-programas/centros-de-justicia-para-las-mujeres/">CONAVIM_Centros</a><br>
        <b>E-mail: </b><a >conavim@segob.gob.mx</a><br>
        <b>Twiter: </b> <a href="https://twitter.com/CONAVIM_MX">@CONAVIM_MX</a> <br>
        <b>Facebook: </b> <a href="https://www.facebook.com/CONAVIM.MX/">@CONAVIM.MX</a> <br>
      </div>
    </div>
  </div>
</div>

