<div class="con" style=" height: 92vh; background-image: url('http://drive.google.com/uc?export=view&id=1M60cL3ABQY503Zs_Aa8bGlyhlMXtjpsR');">

<h1>Habla de forma segura y privada. </h1>
<h4>Los mejores psicológos a tu alcance.</h4>
<br>
<br>
<a href="/users/signin" class="btn btn-primary btn23" role="button" aria-disabled="false">INICIAR</a>
</div>


<div class="con" >
  <div class="row" style="width: 100%;">
    <div class="col col-con" >
         <h1 class="text-conT" style="color: black;">¿Por qué acudir con un psicólogo?</h1>
         <p class="text-con" style="color: black;"> 
           Acudir al psicólogo es una manera para cuidarte y dedicarte atención, 
           es como ir a un spa o darse un masaje, es un mensaje que te envías a 
           través del cual te dices que te preocupas por ti y que eres importante.</p>
          
    </div>
    <div class="col col-con" style="background-image:url('http://drive.google.com/uc?export=view&id=13FF8AyFnC7wjQhwDvjGHXRnyeckIuZql'); width: 100%;">
    </div>
  </div>
</div>

<div class="parallax gradient" style="height: 80vh;">
  <h3 style="color:white;">Tomar terapia Online es muy fácil</h3>
  <br>
  <br>
    <!--<div class="row" style="margin-left:8em; width: 80%;">
      
      <div class="col">
        <img class="imgR"   src="http://drive.google.com/uc?export=view&id=1uAe1p5PyjH7zyl0ITuhgpPi5isNQ2WHg" alt="Card image cap">
       <h4>1. Elige a tu psicológo</h4>
      </div>
      <div class="col">
        <img class="imgR"   src="http://drive.google.com/uc?export=view&id=1uvcIcPGOVVbXJ6-KcQzotyTLhv_frKHi" alt="Card image cap">
       <h4>2. Agenda tu cita</h4>
      </div>
      <div class="col">
        <img class="imgR"   src="http://drive.google.com/uc?export=view&id=1uAe1p5PyjH7zyl0ITuhgpPi5isNQ2WHg" alt="Card image cap">
       <h4>3. Toma tu sesión Online</h4>
      </div>
    </div>-->
  </div>
</div>

<div class="parallax" style="height: 80vh; background-image: url('http://drive.google.com/uc?export=view&id=1hB5YnWyR6lEMZsOWA2PwkC_iCsCcsS0Y');">
<h1 style="font-family: 'Lemon Milk';"> UN PSICOLÓGO </h1>
<h1 style="font-size:5em;font-family: 'Lemon Milk';"> TE ESPERA</h1>

<a href="/users/signin" class="btn btn-primary btn23" role="button" aria-disabled="false">COMENZAR</a>
</div>

<div class="con" >
  <div class="row" style="width: 100%;">
    <div class="col col-con" style="background-image:url('http://drive.google.com/uc?export=view&id=1_bV32Zf7A3SIGLM42S1-2B0jQR6_FqNa'); width: 100%;">
   </div>
    <div class="col col-con" >
         <h1 class="text-conT" style="color: black;"> ¡Inicia ahora!</h1>
         <p class="text-con" style="color: black;"> 
          No debes pensar que el problema se solucionará con el paso del tiempo, es bueno que un
           experto se ocupe en ti y te escuche para detectar si pasa algo grave.
        </p>
    </div>
  </div>
</div>

