<div class="alert  alert-dismissible fade show" style="margin-bottom: 0em; background-color:rgb(189, 118, 255);" role="alert"  >
      <div class="row">
    <div class="col">
     <a style="font-family: Lemon Milk; text-align:center;">Id:5692821861</a>
   </div>
    <div class="col">
      <a style="font-family: Lemon Milk; text-align:center;" >Password: 7YQrkz</a>
    </div>
    <div class="col">
   </div>
  </div>
  </div>
<iframe id="Example2" style="width:100%; height:83vh"
    src="http://localhost:5000/" style="width: 700px; height:550px; margin-top:0em;">
</iframe>
<div class="contenedor">
<button class="botonF1" >
  <span  ><img style="height: 38px; width:38px;" src="http://drive.google.com/uc?export=view&id=1PqW_krmVw04kw15wCikAoeZaY4_b44Cl"></span>
</button>
<a class="btn1 botonF2"  href="/notes" style="padding-right: 5px; padding-left:10px; padding-top:auto; padding-bottom:auto;">
<span><img style="height: 33px; width:33px;"
   src="http://drive.google.com/uc?export=view&id=1muV_jzLJpu7ijq4O1JSqbyLzdgbcWKMb">
</span>
</a>
<a class="btn1 botonF3"  href="/chat" style="padding-right: 5px; padding-left:10px; padding-top:auto; padding-bottom:auto;">
<span><img style="height: 33px; width:33px;"src="http://drive.google.com/uc?export=view&id=13KdaKNPaFJpXMqnipjwCUmeHduJXL8J1"></span>
</a>
<a class="btn1 botonF4"  href="/videollamada" style="padding-right: 5px; padding-left:10px; padding-top:auto; padding-bottom:auto;">
<span><img style="height: 33px; width:33px;" src="http://drive.google.com/uc?export=view&id=1aGwm-dFiT0_MOuFx4dy2Z6i01Yc301FA"></span>
</a>
<a class="btn1 botonF5"  href="/sabiasque" style="padding-right: 5px; padding-left:10px; padding-top:auto; padding-bottom:auto;">
<span><img style="height: 33px; width:33px;" src="http://drive.google.com/uc?export=view&id=1znsZX9zE8szCfo50zgmswvVqivFotyV0"></span>
</a>
 </div>